<h2 mat-dialog-title>
  <ng-icon name="saxStarOutline" size="20px"></ng-icon>
  {{ 'leaderboard.scoreInfo.title' | translate }}
</h2>
<mat-dialog-content>
  <div class="score-info">
    <h3>{{ 'leaderboard.scoreInfo.howItWorks' | translate }}</h3>
    <p>{{ 'leaderboard.scoreInfo.description' | translate }}</p>
    
    <div class="parameters">
      <div class="parameter">
        <ng-icon name="saxTrendUpOutline" size="40px"></ng-icon>
        <div>
          <h4>{{ 'leaderboard.scoreInfo.pip.title' | translate }}</h4>
          <p>{{ 'leaderboard.scoreInfo.pip.description' | translate }}</p>
        </div>
      </div>

      <div class="parameter">
        <ng-icon name="saxJudgeOutline" size="40px"></ng-icon>
        <div>
          <h4>{{ 'leaderboard.scoreInfo.riskReward.title' | translate }}</h4>
          <p>{{ 'leaderboard.scoreInfo.riskReward.description' | translate }}</p>
        </div>
      </div>

      <div class="parameter">
        <ng-icon name="saxActivityOutline" size="40px"></ng-icon>
        <div>
          <h4>{{ 'leaderboard.scoreInfo.totalSignals.title' | translate }}</h4>
          <p>{{ 'leaderboard.scoreInfo.totalSignals.description' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onClose()">
    {{ 'app.close' | translate }}
  </button>
</mat-dialog-actions> 