<mat-toolbar>
  <button mat-icon-button goBack>
    <i class="fa-regular fa-chevron-left fa-xs"></i>
  </button>
  {{ 'profile.edit.pageTitle' | translate }}
</mat-toolbar>
<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
    <div class="avatar-section">
      <div
        class="avatar-container"
        (click)="onAvatarClick()"
        routerLink="/profile/avatar"
      >
        <img appAvatar alt="Profile Avatar" class="avatar" />
      </div>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'profile.edit.name' | translate }}</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'profile.edit.title' | translate }}</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>

    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="!form.valid || loading()"
    >
      {{ 'profile.edit.save' | translate }}
    </button>
  </form>
</div>
