<mat-toolbar>
  <button mat-icon-button goBack>
    <ng-icon name="saxArrowLeftOutline" class="rtl" size="20px"></ng-icon>
  </button>
  <span class="toolbar-title">{{ 'profile.edit.pageTitle' | translate }}</span>
  <span class="toolbar-spacer"></span>
</mat-toolbar>

<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
    <div class="avatar-section">
      <div class="avatar-container-wrapper">
        @if (currentAvatarSource() === 'bitbots') {
          <a class="avatar-container" routerLink="/profile/avatar">
            <img [appAvatar] alt="" class="avatar" />
            <span class="avatar-edit-label">{{ 'profile.avatar.edit' | translate }}</span>
          </a>
        } @else {
          <div class="avatar-container">
            <img [appAvatar] alt="" class="avatar" />
          </div>
        }
      </div>
      
      <div class="avatar-source-selector">
        <label class="selector-label">{{ 'profile.avatar.sourceLabel' | translate }}</label>
        <mat-button-toggle-group 
          [value]="currentAvatarSource()" 
          (change)="onAvatarSourceChange($event.value)"
          class="modern-toggle-group"
        >
          <mat-button-toggle value="bitbots">
            {{ 'profile.avatar.sourceBitbots' | translate }}
          </mat-button-toggle>
          
          @if (canUseTelegram()) {
            <mat-button-toggle value="telegram">
              {{ 'profile.avatar.sourceTelegram' | translate }}
            </mat-button-toggle>
          }
          
          @if (canUseGoogle()) {
            <mat-button-toggle value="google">
              {{ 'profile.avatar.sourceGoogle' | translate }}
            </mat-button-toggle>
          }
        </mat-button-toggle-group>
      </div>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'profile.edit.name' | translate }}</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'profile.edit.nickname' | translate }}</mat-label>
      <input matInput formControlName="title" dir="ltr" maxlength="10" />
      <mat-hint>{{ 'profile.edit.nicknameHint' | translate }}</mat-hint>
      @if (form.get('title')?.hasError('required')) {
        <mat-error>{{ 'profile.edit.nicknameRequired' | translate }}</mat-error>
      }
      @if (form.get('title')?.hasError('titleInvalid')) {
        <mat-error>{{ 'profile.title.invalid' | translate }}</mat-error>
      }
    </mat-form-field>

    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="!form.valid || loading()"
    >
      {{ 'profile.edit.save' | translate }}
    </button>
  </form>
</div>
