<mat-toolbar>
  <button mat-icon-button goBack>
    <i class="fa-regular fa-chevron-left fa-xs rtl"></i>
  </button>
  <span class="toolbar-title">{{ 'profile.edit.pageTitle' | translate }}</span>
  <span class="toolbar-spacer"></span>
  @if (hasAvatarMenuActions()) {
    <button mat-icon-button [matMenuTriggerFor]="avatarMenu" [disabled]="loading()">
      <i class="fa-solid fa-ellipsis-vertical"></i>
    </button>
  }
  <mat-menu #avatarMenu="matMenu" xPosition="before">
    @if (isExternalAvatar()) {
      <button mat-menu-item (click)="removeProfilePhoto()">
        {{ 'profile.avatar.removeProfilePhoto' | translate }}
      </button>
    } @else {
      @if (canUseTelegram()) {
        <button mat-menu-item (click)="addFromTelegram()">
          {{ 'profile.avatar.addFromTelegram' | translate }}
        </button>
      }
      @if (canUseGoogle()) {
        <button mat-menu-item (click)="addFromGoogle()">
          {{ 'profile.avatar.addFromGoogle' | translate }}
        </button>
      }
    }
  </mat-menu>
</mat-toolbar>

<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
    <div class="avatar-section">
      <a class="avatar-container" routerLink="/profile/avatar">
        <img [appAvatar] alt="" class="avatar" />
        <span class="avatar-edit-label">{{ 'profile.avatar.edit' | translate }}</span>
      </a>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'profile.edit.name' | translate }}</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'profile.edit.nickname' | translate }}</mat-label>
      <input matInput formControlName="title" dir="ltr" />
      <mat-hint>{{ 'profile.edit.nicknameHint' | translate }}</mat-hint>
    </mat-form-field>

    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="!form.valid || loading()"
    >
      {{ 'profile.edit.save' | translate }}
    </button>
  </form>
</div>
