.wrapper {
  padding: 4px 8px;
  display: inline-block;
  border-radius: 24px;
  font-size: 0.8rem;
  height: 14px;
  line-height: 14px;
  
  &.sell {
    background: #ef9a9a;
    color: #b71c1c;
  }

  &.buy {
    background: #a5d6a7;
    color: #1b5e20;
  }
}
