.wrapper {
  padding: 4px 8px;
  display: inline-block;
  border-radius: 24px;
  font-size: 0.8rem;
  height: 14px;
  line-height: 14px;

  &.sell {
    background: var(--mat-sys-error-container);
    color: var(--mat-sys-on-error-container);
  }

  &.buy {
    background: var(--mat-sys-secondary-container);
    color: var(--mat-sys-on-secondary-container);
  }
}
