mat-card-title {
  font-size: 1.2rem;
}

mat-card-subtitle {
  font-size: 0.8rem;
  margin-top: 6px;
  color: var(--mat-sys-outline);
  display: flex;
  align-items: center;
  gap: 4px;

  ng-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

.signal-header {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  gap: 8px;

  & > span {
    display: inline-flex;
    align-items: center;
  }
}

.red {
  color: var(--mat-sys-error) !important;
}

.green {
  color: var(--mat-sys-secondary) !important;
}

.signal-props {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;

  & > span {
    display: inline-flex;
    align-items: center;
    gap: 4px;
  }

  ng-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  ng-icon[name="saxTrendDownOutline"] {
    color: var(--mat-sys-error);
  }

  ng-icon[name="saxTrendUpOutline"] {
    color: var(--mat-sys-secondary);
  }

  &__prop {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

mat-chip {
  ::ng-deep .mdc-evolution-chip__text-label {
    display: inline-flex !important;
    align-items: center !important;
    gap: 4px !important;
  }

  ng-icon {
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
}

.status-chip {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;

  .green, .red {
    display: inline-flex !important;
    align-items: center !important;
    gap: 4px !important;
    height: 100% !important;
  }
}

.analyze-button {
  margin-left: auto;
  margin-right: -4px;
}
