mat-card-title {
  font-size: 1.2rem;
}

mat-card-subtitle {
  font-size: 0.8rem;
  margin-top: 6px;
  color: var(--mat-sys-outline);
}

.signal-header {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  gap: 8px;

  & > span {
    display: inline-block;
    margin-bottom: -6px;
  }
}

img.mat-mdc-card-avatar {
  border-radius: 4px !important;
}

.red {
  color: var(--mat-sys-error) !important;
}

.green {
  color: var(--mat-sys-secondary) !important;
}

.signal-props {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;

  .fa-arrow-trend-down {
    color: var(--mat-sys-error);
  }

  .fa-arrow-trend-up {
    color: var(--mat-sys-secondary);
  }

  &__prop {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.info-button {
  margin-left: auto;
  margin-right: -4px;
}
