@let ownerTitle = signal().owner.title || signal().owner.name;

<mat-card
  [routerLink]="['/signals', signal().id]"
  [state]="{ signal: signal() }"
  dir="ltr"
>
  @if (signal().owner?.id) {
    <mat-card-header
      routerLink="/profile/{{ signal().owner.id }}"
      (click)="$event.stopPropagation()"
    >
      <img mat-card-avatar [appAvatar]="signal().owner" />
      <mat-card-title>
        {{ ownerTitle }}
      </mat-card-title>
      <mat-card-subtitle>
        <i class="fa-solid fa-star"></i>
        {{ signal().owner.score.toFixed(1) }}
      </mat-card-subtitle>
      <button
        mat-icon-button
        class="analyze-button"
        (click)="openSignalAnalyze($event)"
        matTooltip="{{ 'signalAnalyze.title' | translate }}"
      >
        <i class="fas fa-sparkles fa-xs"></i>
      </button>
    </mat-card-header>
    <mat-divider />
  }
  <mat-card-actions class="signal-header">
    <app-signal-type-chip [type]="signal().type" />
    <span>
      {{ signal().entryPrice | currency: 'USD' : 'symbol' : '1.0-0' }}
    </span>
    <span style="flex: 1"></span>
    @switch (signal().status) {
      @case (SignalStatus.Pending) {
        <mat-chip [disabled]="true" id="status-chip">
          <i class="fas fa-clock-rotate-left"></i>
          {{ 'signal.status.' + signal().status | translate }}
        </mat-chip>
      }
      @case (SignalStatus.Active) {
        <mat-chip id="status-chip">
          <span [class.red]="pip() < 0" [class.green]="pip() > 0">
            {{ pip() }} {{ 'signal.pip' | translate }}
            <i class="fa-solid fa-play fa-sm"></i>
          </span>
        </mat-chip>
      }
      @case (SignalStatus.Closed) {
        <mat-chip id="status-chip" [disabled]="true">
          <i class="fa-solid fa-stop fa-sm"></i>
          {{ 'signal.status.' + signal().status | translate }}
          @if (Signal.isManualClose(signal())) {
            ({{
              signal().closedOuncePrice | currency: 'USD' : 'symbol' : '1.0-0'
            }})
          } @else if (signal().pip > 0) {
            (tp)
          } @else {
            (sl)
          }
        </mat-chip>
      }
    }
  </mat-card-actions>
  <mat-card-actions class="signal-props">
    <span>
      <i class="fa-regular fa-arrow-trend-up"></i>
      {{ 'signal.profit' | translate }}:
      {{ signal().profit | currency: 'USD' : 'symbol' : '1.0-0' }}
    </span>
    <span style="color: var(--mat-sys-outline-variant)">
      {{ 'signal.riskReward' | translate }}:
      {{ signal().riskReward | number: '1.0-2' }}
    </span>
    <span>
      <i class="fa-regular fa-arrow-trend-down"></i>
      {{ 'signal.loss' | translate }}:
      {{ signal().loss | currency: 'USD' : 'symbol' : '1.0-0' }}
    </span>
  </mat-card-actions>
  @if (signal().status === SignalStatus.Closed) {
    <mat-divider />
    <mat-card-actions>
      <span [class.red]="pip() < 0" [class.green]="pip() > 0">
        @if (pip() > 0) {
          +
        }
        {{ pip() }} {{ 'signal.pip' | translate }}
      </span>
      @if (showScore()) {
        <span style="flex: 1"></span>
        <mat-chip-set>
          @if (signal().gem > 0) {
            <mat-chip (click)="openScoreInfo()">
              <i class="fa-solid fa-gem"></i>
              +{{ signal().gem | number }}
            </mat-chip>
          }
          <mat-chip (click)="openScoreInfo()">
            <i class="fa-solid fa-star"></i>
            <span
              [class.red]="signal().score < 0"
              [class.green]="signal().score > 0"
            >
              @if (signal().score > 0) {
                +
              }
              {{ signal().score | number: '1.0-1' }}
            </span>
          </mat-chip>
        </mat-chip-set>
      }
    </mat-card-actions>
  }
</mat-card>
