mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 90;
  gap: 8px;

  span[spacer] {
    flex: 1;
  }
}

.user-button {
  border-radius: 4px;

  &__container {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__avatar {
    margin-inline-start: -8px;
    vertical-align: middle;
    border-radius: 4px;
  }

  &__texts {
    color: var(--mat-sys-on-surface);
    display: flex;
    // flex-direction: column;
    align-items: flex-start;
    font-size: 11px;
    font-weight: 100;
  }

  // &__gem {
  //   margin-top: -12px;
  // }
}

.ounce-price-button {
  border-radius: 64px;
  padding: 0;
  min-width: 40px;
  padding: 0 4px;

  img {
    width: 24px;
    height: 24px;
    border-radius: 64px;
    vertical-align: middle;
  }
}

.language-button {
  &__flag {
    display: inline-block;
    margin-top: -2px;
  }
}