.leaderboard-container {
  padding: 16px;
  max-width: 800px;
  margin: 0 auto;
}

.spacer {
  flex: 1 1 auto;
}

.score {
  font-size: 1.2rem !important;
  font-weight: 600 !important;
}

img.mat-mdc-list-item-avatar {
  border-radius: 4px !important;
}