<mat-toolbar>
  <mat-toolbar-row>
    <h1>{{ 'bottomNav.leaderboard' | translate }}</h1>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button mat-button (click)="openScoreInfo()">
      <i class="fa-solid fa-circle-info"></i>
      {{ 'leaderboard.scoreInfo.tooltip' | translate }}
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="leaderboard-container">
  @if (query.isLoading()) {
    <app-data-loading />
  } @else if (query.data()) {
    <mat-nav-list>
      @for (user of query.data(); track user._id; let i = $index) {
        <a mat-list-item routerLink="/profile/{{ user.id }}">
          <img
            matListItemAvatar
            src="https://api.dicebear.com/9.x/bottts-neutral/svg?seed={{
              user.id
            }}"
            [alt]="user.title || user.name"
          />
          <span matListItemTitle>{{ user.title || user.name }}</span>
          <span matListItemLine>{{
            'leaderboard.signalCount' | translate: { value: user.totalSignals }
          }}</span>
          <span matListItemMeta class="score">
            <i class="fa-solid fa-star"></i>
            {{ user.score?.toFixed(1) }}
          </span>
          <mat-divider></mat-divider>
        </a>
        @if (!$last) {}
      }
    </mat-nav-list>
  }
</div>
