<mat-toolbar>
  <mat-toolbar-row>
    <h1>{{ 'bottomNav.leaderboard' | translate }}</h1>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button mat-button (click)="openScoreInfo()">
      <i class="fa-solid fa-circle-info"></i>
      {{ 'leaderboard.scoreInfo.tooltip' | translate }}
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-tab-group>
  <mat-tab label="{{ 'leaderboard.week' | translate }}">
    <ng-template matTabContent>
      <app-leaderboard-table [data]="queryWeek.data()" [isWeek]="true" />
    </ng-template>
  </mat-tab>
  <mat-tab label="{{ 'leaderboard.total' | translate }}">
    <ng-template matTabContent>
      <app-leaderboard-table [data]="query.data()" />
    </ng-template>
  </mat-tab>
</mat-tab-group>

<!-- <div class="leaderboard-container">
  @if (query.isLoading()) {
    <app-data-loading />
  } @else if (query.data()) {
    <mat-nav-list dir="ltr">
      @for (user of query.data(); track user._id; let i = $index) {
        <a
          mat-list-item
          routerLink="/profile/{{ user.id }}"
          [class.owner]="user.id === authService.userQuery.data()?.id"
        >
          <span matListItemIcon class="rank">{{ user.rank }}</span>
          <img
            matListItemAvatar
            [appAvatar]="user"
            [alt]="user.title || user.name"
          />
          <span matListItemTitle>{{ user.title || user.name }}</span>
          <span matListItemLine>{{
            'leaderboard.signalCount' | translate: { value: user.totalSignals }
          }}</span>
          <span matListItemMeta class="score">
            <i class="fa-solid fa-star"></i>
            {{ user.score?.toFixed(1) }}
          </span>
          <mat-divider></mat-divider>
        </a>
        @if (!$last) {}
      }
    </mat-nav-list>
  }
</div> -->
