@use '@angular/material' as mat;
@use '../public/fonts/fontawesome/scss/fontawesome.scss';
@use '../public/fonts/fontawesome/scss/regular.scss';
@use '../public/fonts/fontawesome/scss/brands.scss';
@use '../public/fonts/fontawesome/scss/solid.scss';
@use '../public/fonts/fontawesome/scss/light.scss';
@use '../public/fonts/fontawesome/scss/thin.scss';
@use 'theme-colors.scss' as theme;

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: theme.$primary,
      typography: Roboto,
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}
