@use '@angular/material' as mat;
@use 'theme-colors.scss' as theme;

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: theme.$primary,
      typography: Roboto,
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}
