@use '@angular/material' as mat;
@use '../public/fonts/fontawesome/scss/fontawesome.scss';
@use '../public/fonts/fontawesome/scss/regular.scss';
@use '../public/fonts/fontawesome/scss/brands.scss';
@use '../public/fonts/fontawesome/scss/solid.scss';
@use '../public/fonts/fontawesome/scss/light.scss';
@use '../public/fonts/fontawesome/scss/thin.scss';
@use 'theme-colors.scss' as theme;

html {
  color-scheme: dark;
  @include mat.theme(
    (
      color: theme.$primary,
      typography: monospace,
      density: -2,
    )
  );

  .form-theme {
    @include mat.theme(
      (
        color: theme.$tertiary,
        typography: monospace,
        density: -2,
      )
    );
  }

  .error-theme {
    @include mat.theme(
      (
        color: theme.$error,
        typography: monospace,
        density: -2,
      )
    );
  }
}

html,
body {
  min-height: 100%;
  font-size: 14px;
}
body {
  margin: 0;
  font-family: monospace, 'Helvetica Neue', sans-serif;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

.fa-gem {
  color: #42a5f5;
}

// override materials
:root {
  .mat-mdc-list-item {
    display: flex !important;
    align-items: center !important;

    .mat-mdc-list-item-avatar {
      margin-top: 0 !important;
      align-self: initial !important;
    }

    .mat-mdc-list-item-title {
      margin-top: -10px !important;
    }
  }

  @include mat.theme-overrides(
    (
      outline: #999999,
      outline-variant: #4d4d4d,
    )
  );

  // @include mat.card-overrides(
  //   (
  //     title-text-size: 1rem,
  //   )
  // );

  @include mat.divider-overrides(
    (
      color: var(--mat-sys-outline-variant),
    )
  );

  @include mat.button-toggle-overrides(
    (
      selected-state-background-color: var(--mat-sys-primary-container),
      selected-state-text-color: var(--mat-sys-on-primary-container),
    )
  );
}

.auth-modal-bottom-sheet {
  .mat-mdc-bottom-sheet-container {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 0 !important;
  }
}
