@use '@angular/material' as mat;
@use '../public/fonts/fontawesome/scss/fontawesome.scss';
@use '../public/fonts/fontawesome/scss/regular.scss';
@use '../public/fonts/fontawesome/scss/brands.scss';
@use '../public/fonts/fontawesome/scss/solid.scss';
@use '../public/fonts/fontawesome/scss/light.scss';
@use '../public/fonts/fontawesome/scss/thin.scss';
@use 'theme-colors.scss' as theme;

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: theme.$primary,
      typography: Vazirmatn,
      density: -2,
    )
  );
}

html,
body {
  height: 100%;
  font-size: 14px;
}
body {
  margin: 0;
  font-family: Vazirmatn, 'Helvetica Neue', sans-serif;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

// override materials
:root {
  @include mat.theme-overrides(
    (
      outline: #999999,
      outline-variant: #4d4d4d,
    )
  );

  // @include mat.card-overrides(
  //   (
  //     title-text-size: 1rem,
  //   )
  // );

  @include mat.divider-overrides((
    color: var(--mat-sys-outline-variant),
  ));

}
