.signals-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  padding-bottom: 56px;
  max-width: 600px;
  margin: 0 auto;
}

mat-button-toggle {
  flex: 1;
}

.add-signal-fab {
  position: fixed;
  bottom: 56px + 24px;
  right: 24px;
  z-index: 1000;
}
