<div class="signals-container">
  @if (isLoggedIn()) {
    <mat-button-toggle-group [(ngModel)]="filter" hideSingleSelectionIndicator class="author-toggle-group">
      <mat-button-toggle value="all">
        {{ 'signal.filter.all' | translate }}
      </mat-button-toggle>
      <mat-button-toggle value="following">
        {{ 'signal.filter.following' | translate }}
      </mat-button-toggle>
      <mat-button-toggle value="bookmarked">
        {{ 'signal.filter.bookmarked' | translate }}
      </mat-button-toggle>
      <mat-button-toggle value="myself">
        {{ 'signal.filter.myself' | translate }}
      </mat-button-toggle>
    </mat-button-toggle-group>
  }

  <div class="status-chips-container">
    <button 
      class="status-chip" 
      [class.active]="status() === SignalStatus.Active" 
      (click)="status.set(SignalStatus.Active)"
    >
      {{ 'signal.status.ACTIVE' | translate }}
    </button>
    <button 
      class="status-chip" 
      [class.active]="status() === SignalStatus.Pending" 
      (click)="status.set(SignalStatus.Pending)"
    >
      {{ 'signal.status.PENDING.TITLE' | translate }}
    </button>
    <button 
      class="status-chip" 
      [class.active]="status() === SignalStatus.Closed" 
      (click)="status.set(SignalStatus.Closed)"
    >
      {{ 'signal.status.CLOSED' | translate }}
    </button>
    <button 
      class="status-chip" 
      [class.active]="status() === 'all'" 
      (click)="status.set('all')"
    >
      {{ 'signal.status.all' | translate }}
    </button>
  </div>

  @if (data()?.length > 0) {
    @for (signal of data(); track $index) {
      <app-signal-card [signal]="signal" [showScore]="true" />
    }
  } @else if (data() && data()?.length === 0) {
    <app-empty-state
      iconName="saxEmojiSadOutline"
      [text]="'signal.emptyState' | translate"
    />
  }
  @if (query.isLoading() || query.isFetchingNextPage()) {
    <app-data-loading />
  } @else {
    @if (query.hasNextPage()) {
      <button mat-button (click)="query.fetchNextPage()">
        {{ 'app.loadMore' | translate }}
      </button>
    }
  }

  <button
    mat-fab
    extended
    color="primary"
    class="add-signal-fab"
    routerLink="/signals/add"
  >
    <ng-icon name="saxAddOutline" size="24px"></ng-icon>
    {{ 'signal.add' | translate }}
  </button>
</div>
