<mat-toolbar>
  <button mat-icon-button goBack>
    <ng-icon name="saxArrowLeftOutline" class="rtl" size="20px"></ng-icon>
  </button>
  <span class="toolbar-title">{{ 'aiSettings.pageTitle' | translate }}</span>
  <span class="toolbar-spacer"></span>
</mat-toolbar>

<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
    <div class="settings-card-body">
      <div class="settings-group">
        <label class="group-label">{{ 'aiSettings.tradingStyle.label' | translate }}</label>
        <mat-button-toggle-group 
          formControlName="tradingStyle"
          class="modern-toggle-group"
        >
          <mat-button-toggle [value]="TradingStyle.Scalp">
            {{ 'aiSettings.tradingStyle.SCALP_SHORT' | translate }}
          </mat-button-toggle>
          <mat-button-toggle [value]="TradingStyle.Day">
            {{ 'aiSettings.tradingStyle.DAY_SHORT' | translate }}
          </mat-button-toggle>
          <mat-button-toggle [value]="TradingStyle.Swing">
            {{ 'aiSettings.tradingStyle.SWING_SHORT' | translate }}
          </mat-button-toggle>
        </mat-button-toggle-group>

        <div class="selected-desc-box">
          @if (form.get('tradingStyle')?.value === TradingStyle.Scalp) {
            {{ 'aiSettings.tradingStyle.SCALP_DESC' | translate }}
          } @else if (form.get('tradingStyle')?.value === TradingStyle.Day) {
            {{ 'aiSettings.tradingStyle.DAY_DESC' | translate }}
          } @else if (form.get('tradingStyle')?.value === TradingStyle.Swing) {
            {{ 'aiSettings.tradingStyle.SWING_DESC' | translate }}
          }
        </div>
        <span class="group-hint">{{ 'aiSettings.tradingStyle.hint' | translate }}</span>
      </div>

      <div class="settings-group">
        <label class="group-label">{{ 'aiSettings.riskTolerance.label' | translate }}</label>
        <mat-button-toggle-group 
          formControlName="riskTolerance"
          class="modern-toggle-group"
        >
          <mat-button-toggle [value]="RiskTolerance.Conservative">
            {{ 'aiSettings.riskTolerance.CONSERVATIVE_SHORT' | translate }}
          </mat-button-toggle>
          <mat-button-toggle [value]="RiskTolerance.Moderate">
            {{ 'aiSettings.riskTolerance.MODERATE_SHORT' | translate }}
          </mat-button-toggle>
          <mat-button-toggle [value]="RiskTolerance.Aggressive">
            {{ 'aiSettings.riskTolerance.AGGRESSIVE_SHORT' | translate }}
          </mat-button-toggle>
        </mat-button-toggle-group>

        <div class="selected-desc-box">
          @if (form.get('riskTolerance')?.value === RiskTolerance.Conservative) {
            {{ 'aiSettings.riskTolerance.CONSERVATIVE_DESC' | translate }}
          } @else if (form.get('riskTolerance')?.value === RiskTolerance.Moderate) {
            {{ 'aiSettings.riskTolerance.MODERATE_DESC' | translate }}
          } @else if (form.get('riskTolerance')?.value === RiskTolerance.Aggressive) {
            {{ 'aiSettings.riskTolerance.AGGRESSIVE_DESC' | translate }}
          }
        </div>
        <span class="group-hint">{{ 'aiSettings.riskTolerance.hint' | translate }}</span>
      </div>
    </div>

    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="!form.valid || loading()"
      class="save-button"
    >
      {{ 'aiSettings.save' | translate }}
    </button>
  </form>
</div>
