<mat-toolbar>
  <button mat-icon-button goBack>
    <i class="fa-regular fa-chevron-left fa-sm rtl"></i>
  </button>
</mat-toolbar>
<form fxLayout="column" fxLayoutGap="16" p-md>
  <h1>{{ 'login.otpTitle' | translate }}</h1>
  <p>{{ 'login.otpDescription' | translate }}</p>

  <ng-otp-input
    #otpInputs
    [formCtrl]="otpFormControl"
    [config]="{
      length: 4,
      allowNumbersOnly: true,
      containerStyles: {
        display: 'flex',
        justifyContent: 'center',
        direction: 'ltr',
      },
      containerClass: 'token-container',
      inputStyles: { outline: 'none', border: 'none', padding: '8px' },
    }"
  ></ng-otp-input>

  <br />

  <a mat-stroked-button class="edit-phone-button" goBack type="button">
    <i class="fa-regular fa-pencil-alt"></i>
    {{ phone }}
  </a>
  @if (time()) {
    <label class="timer outline-text">{{
      'login.remainingTime' | translate: { value: time() }
    }}</label>

    <button
      id="action"
      type="submit"
      [disabled]="loading()"
      mat-flat-button
      class="large"
      (click)="setToken($event)"
    >
      {{ 'login.otpAction' | translate }}
      @if (loading()) {
        ...
      }
    </button>
  } @else {
    <label class="timer error-text">{{
      'login.tokenExpired' | translate
    }}</label>

    <button
      id="action"
      type="submit"
      [disabled]="loading()"
      mat-flat-button
      class="large error-button"
      (click)="sendTokenAgain()"
    >
      {{ 'login.resendToken' | translate }}
      @if (loading()) {
        ...
      }
    </button>
  }
</form>
