h1 {
  margin: 0;
}

p {
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px;
}

button#action {
  height: 48px;
}

input {
  direction: ltr;
  text-align: center;
  letter-spacing: 24px !important;
}

.timer {
  font-size: 11px;
  margin-top: -8px;
}

.edit-phone-button {
  width: fit-content;
}
