<mat-toolbar>
  <button mat-icon-button goBack>
    <ng-icon name="saxArrowLeftOutline" class="rtl"></ng-icon>
  </button>
</mat-toolbar>
<form fxLayout="column" fxLayoutGap="16" p-md>
  <h1>{{ 'login.otpTitle' | translate }}</h1>
  <p>{{ 'login.otpDescription' | translate }}</p>

  <mat-form-field>
    <input
      #otpInput
      [autoFocus]
      [formControl]="otpFormControl"
      matInput
      type="number"
      [readonly]="loading()"
      class="mono"
    />
  </mat-form-field>

  <br />

  <a mat-stroked-button class="edit-phone-button" goBack type="button">
    <ng-icon name="saxEditOutline" size="18px"></ng-icon>
    {{ phone }}
  </a>
  @if (time()) {
    <label class="timer outline-text">{{
      'login.remainingTime' | translate: { value: time() }
    }}</label>

    <button
      id="action"
      type="submit"
      [disabled]="loading()"
      mat-flat-button
      class="large"
      (click)="setToken($event)"
    >
      {{ 'login.otpAction' | translate }}
      @if (loading()) {
        ...
      }
    </button>
  } @else {
    <label class="timer error-text">{{
      'login.tokenExpired' | translate
    }}</label>

    <button
      id="action"
      type="submit"
      [disabled]="loading()"
      mat-flat-button
      class="large error-button"
      (click)="sendTokenAgain()"
    >
      {{ 'login.resendToken' | translate }}
      @if (loading()) {
        ...
      }
    </button>
  }
</form>
