.container {
  max-width: 600px;
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;

  .avatar-placeholder {
    width: 128px;
    height: 128px;
    border-radius: 24px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.spacer {
  flex: 1;
}
