<main>
  <router-outlet />
</main>
<mat-toolbar>
  <button mat-button>
    <div class="nav-item-wrapper">
      <i class="far fa-house fa-xl"></i>
      Home
    </div>
  </button>
  <button mat-button>
    <div class="nav-item-wrapper">
      <i class="far fa-trophy fa-xl"></i>
      Leaderboard
    </div>
  </button>
  <button mat-button>
    <div class="nav-item-wrapper">
      <i class="far fa-bell fa-xl"></i>
      Notification
    </div>
  </button>
  <button mat-button>
    <div class="nav-item-wrapper">
      <i class="far fa-user fa-xl"></i>
      Profile
    </div>
  </button>
</mat-toolbar>
