@let price = priceService.value();
<a
  class="container"
  href="https://www.tradingview.com/symbols/XAUUSD"
  target="_blank"
>
  <mat-toolbar>
    <img
      src="https://s3-symbol-logo.tradingview.com/metal/gold--big.svg"
      alt="logo"
    />
    <span>
      XAUUSD .
      <span class="price-value" [style.color]="color()">
        @if (price > 0) {
          {{ price | currency }}
        }
      </span>
    </span>
    <span style="flex: 1"></span>
    @if (!priceService.isMarketOpen()) {
      <span class="market-badge">
        <span class="dot"></span>
        <span class="badge-text">{{ 'octopus.marketClosed' | translate }}</span>
      </span>
    }
    <ng-icon name="saxExport3Outline" size="16px"></ng-icon>
  </mat-toolbar>
</a>
