@let price = priceService.value();
<a
  class="container"
  href="https://www.tradingview.com/symbols/XAUUSD"
  target="_blank"
>
  <mat-toolbar>
    <img
      src="https://s3-symbol-logo.tradingview.com/metal/gold--big.svg"
      alt="logo"
    />
    <span>
      XAUUSD .
      <span [style.color]="color()">
        @if (price > 0) {
          {{ price | currency }}
        }
      </span>
    </span>
    <span style="flex: 1"></span>
    <i class="fa-regular fa-arrow-up-right-from-square"></i>
  </mat-toolbar>
</a>
