
<div class="menu-container">
  @let user = auth.userQuery.data();
  @if (user) {
    <mat-card class="settings-card clickable-card profile-button-card" routerLink="/profile">
      <mat-card-content>
        <div class="profile-card-content">
          <img [src]="user.avatar" [appAvatar]="user" [size]="48" class="profile-card-avatar" />
          <div class="profile-card-details">
            <h2>{{ user | fullname }}</h2>
            <span class="view-profile-text">{{ 'menu.viewProfile' | translate }}</span>
          </div>
          <span class="spacer"></span>
          <ng-icon name="saxArrowLeftOutline" class="disclosure-arrow" size="20px" style="color: var(--mat-sys-outline);"></ng-icon>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="settings-card clickable-card gems-menu-card" routerLink="/gems">
      <mat-card-content>
        <div class="settings-row">
          <div class="settings-info">
            <div class="icon-container gems-icon-container">
              <ng-icon name="saxDiamondsBold" class="blue" size="20px"></ng-icon>
            </div>
            <div class="settings-texts">
              <h3>{{ 'gems.menuTitle' | translate }}</h3>
              <p>{{ 'gems.menuDescription' | translate }}</p>
            </div>
          </div>
          <div class="gems-count-badge">
            <span>{{ user.gem || 0 | number }}</span>
          </div>
          <ng-icon name="saxArrowLeftOutline" class="disclosure-arrow" size="20px" style="color: var(--mat-sys-outline);"></ng-icon>
        </div>
      </mat-card-content>
    </mat-card>
  }


  @if (pushService.isNotificationSupported()) {
    <mat-card class="settings-card clickable-card" routerLink="/notifications">
      <mat-card-content>
        <div class="settings-row">
          <div class="settings-info">
            <div class="icon-container">
              <ng-icon name="saxNotificationOutline" size="20px"></ng-icon>
            </div>
            <div class="settings-texts">
              <h3>{{ 'pushNotifications.page.title' | translate }}</h3>
              <p>{{ 'pushNotifications.settings.description' | translate }}</p>
            </div>
          </div>
          <ng-icon name="saxArrowLeftOutline" class="disclosure-arrow" size="20px" style="color: var(--mat-sys-outline);"></ng-icon>
        </div>
      </mat-card-content>
    </mat-card>
  }

  <mat-card class="settings-card clickable-card" routerLink="/profile/ai-settings">
    <mat-card-content>
      <div class="settings-row">
        <div class="settings-info">
          <div class="icon-container ai-settings-icon-container">
            <ng-icon name="saxCpuOutline" size="20px"></ng-icon>
          </div>
          <div class="settings-texts">
            <h3>{{ 'aiSettings.menuTitle' | translate }}</h3>
            <p>{{ 'aiSettings.menuDescription' | translate }}</p>
          </div>
        </div>
        <ng-icon name="saxArrowLeftOutline" class="disclosure-arrow" size="20px" style="color: var(--mat-sys-outline);"></ng-icon>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="settings-card">
    <mat-card-content class="advanced-tools-content">
      <div class="settings-info">
        <div class="icon-container">
          <ng-icon name="saxDocumentDownloadOutline" size="20px"></ng-icon>
        </div>
        <div class="settings-texts">
          <h3>{{ 'profile.advancedTools.title' | translate }}</h3>
          <p>{{ 'profile.advancedTools.description' | translate }}</p>
        </div>
      </div>
      <div class="advanced-actions-row">
        <button mat-flat-button color="primary" (click)="downloadChartData('csv')">
          <ng-icon name="saxDocumentDownloadOutline" size="18px"></ng-icon>
          {{ 'profile.advancedTools.downloadCsv' | translate }}
        </button>
        <button mat-stroked-button color="primary" (click)="downloadChartData('json')">
          <ng-icon name="saxDocumentDownloadOutline" size="18px"></ng-icon>
          {{ 'profile.advancedTools.downloadJson' | translate }}
        </button>
      </div>
    </mat-card-content>
  </mat-card>

  @if (pwaService.isPwaSupported()) {
    <mat-card class="settings-card clickable-card" (click)="showPwaInstallPrompt()">
      <mat-card-content>
        <div class="settings-row">
          <div class="settings-info">
            <div class="icon-container download-app-icon-container">
              <ng-icon name="saxDocumentDownloadOutline" size="20px"></ng-icon>
            </div>
            <div class="settings-texts">
              <h3>{{ 'menu.downloadApp' | translate }}</h3>
              <p>{{ 'menu.downloadAppDesc' | translate }}</p>
            </div>
          </div>
          <ng-icon name="saxArrowLeftOutline" class="disclosure-arrow" size="20px" style="color: var(--mat-sys-outline);"></ng-icon>
        </div>
      </mat-card-content>
    </mat-card>
  }

  <mat-card class="settings-card clickable-card" (click)="openLanguageSelection()">
    <mat-card-content>
      <div class="settings-row">
        <div class="settings-info">
          <div class="icon-container">
            <ng-icon name="saxGlobalOutline" size="20px"></ng-icon>
          </div>
          <div class="settings-texts">
            <h3>{{ 'languageSelection.title' | translate }}</h3>
            <p>{{ 'languageSelection.description' | translate }}</p>
          </div>
        </div>
        <div class="selected-lang-badge">
          <span class="flag-text">{{ languageService.getCurrentLanguageConfig()?.flag }}</span>
          <span class="lang-text">{{ languageService.getCurrentLanguageConfig()?.name }}</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="settings-card clickable-card" (click)="contactSupport()">
    <mat-card-content>
      <div class="settings-row">
        <div class="settings-info">
          <div class="icon-container support-icon-container">
            <ng-icon name="sax24SupportOutline" size="20px"></ng-icon>
          </div>
          <div class="settings-texts">
            <h3>{{ 'menu.support' | translate }}</h3>
            <p>{{ 'menu.supportDesc' | translate }}</p>
          </div>
        </div>
        <ng-icon name="saxArrowLeftOutline" class="disclosure-arrow" size="20px" style="color: var(--mat-sys-outline);"></ng-icon>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="settings-card logout-card" (click)="logout()">
    <mat-card-content>
      <div class="settings-row">
        <div class="settings-info">
          <div class="icon-container logout-icon-container">
            <ng-icon name="saxLogoutOutline" size="20px"></ng-icon>
          </div>
          <div class="settings-texts">
            <h3>{{ 'profile.logout' | translate }}</h3>
            <p>{{ 'profile.logoutDescription' | translate }}</p>
          </div>
        </div>
        <ng-icon name="saxArrowLeftOutline" class="disclosure-arrow" size="20px" style="color: var(--mat-sys-outline);"></ng-icon>
      </div>
    </mat-card-content>
  </mat-card>
</div>
