ng-icon {
  &.gold-achievement {
    color: #FFA751;
  }
  &.purple-achievement {
    color: #F355DA;
  }
  &.blue-achievement {
    color: #4FACFE;
  }
  &.orange-achievement {
    color: #FF930F;
  }
  &.green-achievement {
    color: #28C76F;
  }
}
