<mat-card>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{
        achievement().type | achievementType
      }}</mat-card-title>
      <mat-card-subtitle>{{
        achievement().createdAt | date: 'YYYY-MM-dd'
      }}</mat-card-subtitle>
      <ng-icon
        [name]="getAchievementIcon(achievement().type)"
        [class]="getAchievementClass(achievement().type)"
        size="36px"
        style="display: flex;"
      ></ng-icon>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content></mat-card-content>
</mat-card>
