.leaderboard-container {
  padding: 16px;
  max-width: 800px;
  margin: 0 auto;
}
.spacer {
  flex: 1 1 auto;
}

.owner {
  background-color: var(--mat-sys-surface-container-high) !important;
}

.score {
  font-size: 1.2rem !important;
  font-weight: 600 !important;
}

img.mat-mdc-list-item-avatar {
  border-radius: 4px !important;
  margin-left: 32px !important;
}

.rank {
  position: absolute;
  left: 0px;
  top: 7px;
  font-size: 0.8rem;
}

.mat-mdc-list-item-title {
  margin-top: -10px !important;
}
