.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  color: var(--mat-sys-outline);

  &__icon {
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  &__text {
    font-size: 1rem;
    margin: 0;
  }
}
