<mat-toolbar dir="ltr">
  <a mat-button routerLink="/signals">
    <div class="nav-item-wrapper">
      <ng-icon name="saxActivityOutline" size="24px"></ng-icon>
      {{ 'bottomNav.signals' | translate }}
    </div>
  </a>
  <a mat-button routerLink="/leaderboard">
    <div class="nav-item-wrapper">
      <ng-icon name="saxCupOutline" size="24px"></ng-icon>
      {{ 'bottomNav.leaderboard' | translate }}
    </div>
  </a>
  <a mat-button [routerLink]="authService.userQuery.data() ? '/profile' : '/login'">
    <div class="nav-item-wrapper">
      @if (authService.userQuery.data()) {
        <span class="nav-icon-slot">
          <img [appAvatar]="authService.userQuery.data()" [size]="24" class="nav-profile-avatar" />
        </span>
      } @else {
        <ng-icon name="saxUserOutline" size="24px"></ng-icon>
      }
      {{ 'bottomNav.profile' | translate }}
    </div>
  </a>
</mat-toolbar>
