<mat-toolbar>
  <!-- <a mat-button routerLink="/">
    <div class="nav-item-wrapper">
      <i class="far fa-house fa-xl"></i>
      {{ 'bottomNav.home' | translate }}
    </div>
  </a> -->
  <a mat-button routerLink="/signals">
    <div class="nav-item-wrapper">
      <i class="far fa-wave-square fa-xl"></i>
      {{ 'bottomNav.signals' | translate }}
    </div>
  </a>
  <!-- <a mat-button>
    <div class="nav-item-wrapper">
      <i class="far fa-trophy fa-xl"></i>
      {{ 'bottomNav.leaderboard' | translate }}
    </div>
  </a>
  <a mat-button>
    <div class="nav-item-wrapper">
      <i class="far fa-bell fa-xl"></i>
      {{ 'bottomNav.notifications' | translate }}
    </div>
  </a> -->
  <a mat-button>
    <div class="nav-item-wrapper" routerLink="/profile/edit">
      <i class="far fa-user fa-xl"></i>
      {{ 'bottomNav.profile' | translate }}
    </div>
  </a>
</mat-toolbar>
