mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 90;
  height: 72px;

  a {
    flex: 1;
    height: 48px;
  }
}

.nav-item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 11px;
  line-height: 14px;

  i {
    line-height: 24px;
  }
}

.nav-profile-avatar {
  width: 24px;
  height: 24px;
  border-radius: 6px;
  object-fit: cover;
  line-height: 24px;
}