<mat-toolbar>
  <button mat-button>
    <div class="nav-item-wrapper">
      <i class="far fa-house fa-xl"></i>
      {{ 'bottomNav.home' | translate }}
    </div>
  </button>
  <button mat-button>
    <div class="nav-item-wrapper">
      <i class="far fa-trophy fa-xl"></i>
      {{ 'bottomNav.leaderboard' | translate }}
    </div>
  </button>
  <button mat-button>
    <div class="nav-item-wrapper">
      <i class="far fa-bell fa-xl"></i>
      {{ 'bottomNav.notifications' | translate }}
    </div>
  </button>
  <button mat-button>
    <div class="nav-item-wrapper">
      <i class="far fa-user fa-xl"></i>
      {{ 'bottomNav.profile' | translate }}
    </div>
  </button>
</mat-toolbar>
